<p id="notice"><%= notice %></p>

<p>
  <strong>Student lrn:</strong>
  <%= @student.student_lrn %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @student.religion %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @student.contact_no %>
</p>

<p>
  <strong>Year level:</strong>
  <%= @student.year_level %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
