<p id="notice"><%= notice %></p>

<p>
  <strong>Subject title:</strong>
  <%= @subject.subject_title %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @subject.schedule %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @subject.instructor %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
