<%= form_for(@teacher_advise_class) do |f| %>
  <% if @teacher_advise_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_advise_class.errors.count, "error") %> prohibited this teacher_advise_class from being saved:</h2>

      <ul>
      <% @teacher_advise_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.text_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :section_name %><br>
    <%= f.text_field :section_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
